@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Seymour+One&display=swap');

body {
    font-family: Montserrat;
}

/**
*** CLASS BODIES FOR EACH PAGE (one page = one image body) ***
**/
    .create {
        background-image: url('../images/log.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #FFFFFF;
    }

    .select {
        background-image: url('../images/select.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #e9ddeb;
    }

    .list {
        background-image: url('../images/listoftamagochis.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #fff4fc;
    }

    .graveyard {
        background-image: url('../images/graveyard.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #fce9e3;
    }

    .actions {
        background-image: url('../images/takecareof.jpg');
        background-position: center -30%;
        background-repeat: no-repeat;
        background-color: #fff;
    }


    h1 {
        font-family: Seymour One;
        text-align: center;
        position: relative;
    }

    h1.createh1 {
        color: #6C7ACE;
        margin-bottom: 50px;
    }

    h1.selecth1 {
        color: #453156;
        margin-bottom: 50px;
    }
    h1.graveh1 {
        color: #690319;
        margin-top: 50px;
    }

.form_create, .form_select {
    margin: auto;
    width: 40%;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    top: 30px;
} 

.form_create {
    background-color: rgba(255, 255, 255, 0.6);
}

.form_select {
    background-color: #e2dad343;
}

.form_create form, .form_select form {
    display: block;
    margin: auto;
}

.form_create form input, .form_select form input {
    display: block;
    width: 60%;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px auto;
}

.form_create form input {
    border: 1px solid #FBDCF7;
}

.form_select form input {
    border: 1px solid #e9cdb7;
}

.form_create form button, .form_select form button {
    padding: 15px 35px 15px 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
}

.form_create form button {
    color: white;
    background-color: #f4c9ee;
}

.form_select form button {
    color: white;
    background-color: #e9cdb7;
}

.form_create form p, .form_select form p{
    font-family: Montserrat;
    font-style: italic;
    width: 60%;
    margin: 10px auto;
    font-size: 11px;
    text-align: center;
}
.form_create form p {
    color: #6C7ACE;
}

.form_select form p {
    color: #e3e2e2;
}

form p a {
    text-decoration: underline;
}

h6 {
    font-style: italic;
    font-size : 0.75rem;
    color: rgba(0, 0, 0, 0.4);

    text-align: center;
}

h6 strong {
    font-family: 'Bebas Neue';
}

/** 
** LIST OF ALL TAMAGOCHIS BELONGING TO AN USER**
**/

.listoft {

    width: 70%;
    margin: auto;
    justify-content: center;
}
.listtamago {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
}
.listdeadtamago > article {
    background-color: #ddc2cb79;

    border-radius: 30px;
    padding: 20px;
    width: 40%;
    margin: 10px auto;
}
.listdeadtamago > article h2 {
    color: #581121;
}

.listtamago > article {
    background-color: #e2d3d843;

    border-radius: 30px;
    padding: 20px;
    width: 40%;
}

:root {
    --success: #00b894;
    --progress: #8cb0a8;
}

.progressbar-wrapper {
    background-color: #dfe6e9;
    color: white;
    border-radius: 15px;
}

.progressbar {
    background-color: var(--progress);
    color: white;
    padding: 5px;
    text-align: right;
    font-size: 17px;
    border-radius: 15px;
}

article h2 {
    font-family : 'Seymour One';
    text-align: center;
}
article span {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

article span em {
    background-color: #cbbad9;
    padding: 2px 20px 2px 20px;
    border-radius: 20px;
    display: block;
    color: white;
    min-width: 20%;
    text-align: center;
}

.takecareof {
    border: 0;
    outline: none;
    padding: 10px 20px 10px 20px;
    background-color: #edd6a1d3;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px auto;
    display: block;
    width: 50%;
    text-align: center;
}

a.takecareof, a.createnew, a.cimeterygo {
    text-decoration: none;
    color: white;
}

.createnew {
    background-color: #99bbae;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left : 0;
    margin: 10px;
}
.cimeterygo {
    background-color: #99a4a0;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;

    position: absolute;
    top: 0px;
    right : 0;
    margin: 10px;
}