@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Seymour+One&display=swap');

body {
    font-family: Montserrat;
}

a, a:hover, button, button:hover {
    cursor: pointer;
}

/**
*** CLASS BODIES FOR EACH PAGE (one page = one image body) ***
**/
    .index {
        background-image: url('../images/index.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #D5F3C9;
        background-attachment: fixed;
    }
    .create {
        background-image: url('../images/log.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #FFFFFF;
        background-attachment: fixed;
    }

    .select {
        background-image: url('../images/select.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #e9ddeb;
        background-attachment: fixed;
    }

    .list {
        background-image: url('../images/listoftamagochis.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #fff4fc;
        background-attachment: fixed;
    }

    .graveyard {
        background-image: url('../images/graveyard.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #fce9e3;
        background-attachment: fixed;
    }

    .actions {
        background-image: url('../images/takecareof.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #fff;
        background-attachment: fixed;
    }


    h1 {
        font-family: 'Seymour One';
        text-align: center;
        position: relative;
    }

    h1.createh1 {
        color: #6C7ACE;
        margin-bottom: 50px;
    }

    h1.selecth1 {
        color: #453156;
        margin-bottom: 50px;
    }
    h1.graveh1 {
        color: #690319;
        margin-top: 50px;
    }
    h1.allh1 {
        margin-top: 50px;
    }
    h1.lists {
        color: #6c5579;
    }
    h1.careh1 {
        color: #9a5e46;
    }

.form_create, .form_select {
    margin: auto;
    width: 40%;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    top: 30px;
} 

.form_create {
    background-color: rgba(255, 255, 255, 0.6);
}

.form_select {
    background-color: #e2dad343;
}

.form_create form, .form_select form {
    display: block;
    margin: auto;
}

.form_create form input, .form_select form input {
    display: block;
    width: 60%;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px auto;
}

.form_create form input {
    border: 1px solid #FBDCF7;
}

.form_select form input {
    border: 1px solid #e9cdb7;
}

.form_create form button, .form_select form button {
    padding: 15px 35px 15px 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
}

.form_create form button {
    color: white;
    background-color: #f4c9ee;
}

.form_select form button {
    color: white;
    background-color: #e9cdb7;
}

.form_create form p, .form_select form p{
    font-family: Montserrat;
    font-style: italic;
    width: 60%;
    margin: 10px auto;
    font-size: 11px;
    text-align: center;
}
.form_create form p {
    color: #6C7ACE;
}

.form_select form p {
    color: #e3e2e2;
}

form p a {
    text-decoration: underline;
}

h6 {
    font-style: italic;
    font-size : 0.75rem;
    color: rgba(0, 0, 0, 0.4);
}
h6, h3{
    text-align: center;
}
h3 {
    margin: auto;
    width: 20%;
    background-color: #fb3e42;
    color: white;
}

h6 strong {
    font-family: 'Bebas Neue';
}

/** 
** LIST OF ALL TAMAGOCHIS BELONGING TO AN USER**
**/

.listoft {

    width: 70%;
    margin: auto;
    justify-content: center;
}
.listtamago {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
}
.listdeadtamago > article {
    background-color: #ddc2cb79;
    border-radius: 30px;
    padding: 20px;
    width: 40%;
    margin: 10px auto;
}
.listdeadtamago > article h2 {
    color: #581121;
}

.takecare > article {
    background-color: #ddc2cb79;
    border-radius: 30px;
    padding: 20px;
    width: 65%;
    margin: 10px auto;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-between;
}
.listtamago > article {
    background-color: #e2d3d843;
    border-radius: 30px;
    padding: 20px;
    width: 40%;
}

.listtamago > article h2 {
    color: #5b4965d0;
}

.progressbar-wrapper {
    background-color: #dfe6e9;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    max-width: 100%;
}

.progressbar {
    color: white;
    padding: 5px;
    text-align: right;
    font-size: 17px;
    border-radius: 15px;
}

div.critical {
    background-color: rgba(255, 0, 0, 0.508);
}
div.medium {
    background-color: rgba(255, 167, 4, 0.818);
}
div.correct {
    background-color: rgba(153, 205, 50, 0.764);
}
div.perfect {
    background-color: rgba(39, 113, 39, 0.613);
}

article h2 {
    font-family : 'Seymour One';
    text-align: center;
}
article span {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

article span em {
    background-color: #cbbad9;
    padding: 2px 20px 2px 20px;
    border-radius: 20px;
    display: block;
    color: white;
    min-width: 20%;
    text-align: center;
}

.takecareof {
    border: 0;
    outline: none;
    padding: 10px 20px 10px 20px;
    background-color: #edd6a1d3;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px auto;
    display: block;
    width: 50%;
    text-align: center;
}

a.takecareof, a.createnew, a.cimeterygo {
    text-decoration: none;
    color: white;
}

.createnew {
    background-color: #99bbae;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left : 0;
    margin: 10px;
}
.cimeterygo {
    background-color: #99a4a0;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;

    position: absolute;
    top: 0px;
    right : 0;
    margin: 10px;
}

/***
*** ACTIONS PAGE ***
***/

.takecare > article div:first-child .progressbar-wrapper, .listtamago > article div .progressbar-wrapper {
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.takecare > article div:first-child{
    width: 50%;
}

.takecare > article div:last-child{
    width: 30%;
}

.takecare > article div form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: center;
    align-content: center;
}
button.buttonActions {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    font-family: 'Bebas Neue';
    letter-spacing: 4px;
    font-size: 1.2rem;
}

.type_eat {
    background-color: #d6c77c;
}

.type_drink {
    background-color: #b8cf89;
}

.type_bedtime {
    background-color: #468b9a;
}

.type_enjoy {
    background-color: #be6f73;
}


.response {
    height: 100vh;
    display: flex;
    align-items: center;
}

div.contenu {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 70px 30px 70px;
    text-align: center;
}

.titre {
    font-family: 'Bebas Neue';
    font-size: 15rem;
}

.success .titre {
    background-image: linear-gradient(rgb(67, 120, 67), rgb(116, 172, 116));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.error .titre {
    background-image: linear-gradient(rgb(120, 67, 67), rgb(177, 66, 66));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/** 
**** INDEX SIDEBAR ****
**/

.sidebar, .page {
    color: #386c62
}
.sidebar a, .page a {
    color: #488b7e;
}
.sidebar {
    max-width: 200px;
    font-size: 16px;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 4rem;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;
}
.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar a {
    text-decoration: none;
    display: inline-block;
}

.sidebar-link {
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-left: none;
    padding-left: 3rem;
}

.sidebar-heading span {
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
}

.sidebar .t1 {
    font-size: 1.1rem;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    margin-top: 7px;
    margin-bottom: 2px;
    padding-left: 1rem;
}

.page {
    padding-bottom: 2rem;
    display: block;
    padding-left: 15rem;
    background-color: rgba(255,255,255,0.8);
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 10px;
}

.page h2 {
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
    color: rgba(174, 171, 171, 0.799)
}

.page h1 {
    text-align: left;
    color: #daa1c2;
}

.actions article span em {
    background-color: #fb3e41b7;
}